<ul class="accordion__list list-reset is-hidden" data-country-list="france">
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1400 по 1499 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Андре Боневё</li>
      <li class="accordion__content-element">Ленуар, Жан</li>
      <li class="accordion__content-element">Мастер Оноре</li>
      <li class="accordion__content-element">Пюсель, Жан</li>
      <li class="accordion__content-element">Перреаль, Жан</li>
      <li class="accordion__content-element">Тестар, Робине</li>
      <li class="accordion__content-element">Фроман, Никола</li>
      <li class="accordion__content-element">Фуке, Жан</li>
      <li class="accordion__content-element">Шанжене, Жан</li>
      <li class="accordion__content-element">Мастер Оноре</li>
      <li class="accordion__content-element">Андре Боневё</li>
      <li class="accordion__content-element">Ленуар, Жан</li>
      <li class="accordion__content-element">Анастасия</li>
      <li class="accordion__content-element">Бартелеми д’Эйк</li>
      <li class="accordion__content-element">Домбе, Гийом</li>
      <li class="accordion__content-element">Дюве, Жан</li>
      <li class="accordion__content-element">Жакмар де Эсден</li>
      <li class="accordion__content-element">Иверни, Жак</li>
      <li class="accordion__content-element">Картон, Ангерран</li>
      <li class="accordion__content-element">Коломб, Жан</li>
      <li class="accordion__content-element">Лиферинкс, Йос</li>
      <li class="accordion__content-element">Мармион, Симон</li>
      <li class="accordion__content-element">Мастер Орозия</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1500 по 1599 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Биго, Трофим</li>
      <li class="accordion__content-element">Брио, Франсуа</li>
      <li class="accordion__content-element">Буш, Валентин</li>
      <li class="accordion__content-element">Гужон, Жан</li>
      <li class="accordion__content-element">Дипр, Никола</li>
      <li class="accordion__content-element">Дюваль, Марк</li>
      <li class="accordion__content-element">Дюве, Жан</li>
      <li class="accordion__content-element">Дюмустье, Даниель</li>
      <li class="accordion__content-element">Дюмустье, Жоффруа</li>
      <li class="accordion__content-element">Дюмустье, Косм</li>
      <li class="accordion__content-element">Дюмустье, Пьер</li>
      <li class="accordion__content-element">Дюмустье, Этьен</li>
      <li class="accordion__content-element">Карон, Антуан</li>
      <li class="accordion__content-element">Кенель, Франсуа</li>
      <li class="accordion__content-element">Клуэ, Жан</li>
      <li class="accordion__content-element">Клуэ, Франсуа</li>
      <li class="accordion__content-element">Корнель де Лион</li>
      <li class="accordion__content-element">
        <span class="accordion__content-path" data-painter-path="latour">Латур, Жорж де</span>
      </li>
      <li class="accordion__content-element">Ле Муан, Жак</li>
      <li class="accordion__content-element">Перреаль, Жан</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1600 по 1699 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Агар, Жак</li>
      <li class="accordion__content-element">Аллегрен, Этьен</li>
      <li class="accordion__content-element">Барра, Дидье</li>
      <li class="accordion__content-element">Белланж, Жак</li>
      <li class="accordion__content-element">Бертен, Николя</li>
      <li class="accordion__content-element">Божен, Любен</li>
      <li class="accordion__content-element">Вивьен, Жозеф</li>
      <li class="accordion__content-element">Вуэ, Симон</li>
      <li class="accordion__content-element">Дюмустье, Даниель</li>
      <li class="accordion__content-element">Дюмустье, Косм</li>
      <li class="accordion__content-element">Дюмустье, Этьен</li>
      <li class="accordion__content-element">Жувене, Жан</li>
      <li class="accordion__content-element">Калло, Клод</li>
      <li class="accordion__content-element">Каррей, Жак</li>
      <li class="accordion__content-element">Куртуа, Жак</li>
      <li class="accordion__content-element">Ленен, Луи</li>
      <li class="accordion__content-element">Линар, Жак</li>
      <li class="accordion__content-element">Летелье, Пьер</li>
      <li class="accordion__content-element">Меллан, Клод</li>
      <li class="accordion__content-element">Миньяр, Пьер</li>
      <li class="accordion__content-element">Монсу Дезидерио</li>
      <li class="accordion__content-element">Пиль, Роже де</li>
      <li class="accordion__content-element">Пюже, Пьер</li>
      <li class="accordion__content-element">Рау, Жан</li>
      <li class="accordion__content-element">Томассен, Филипп</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1700 по 1799 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Агар, Жак</li>
      <li class="accordion__content-element">Алле, Клод-Ги</li>
      <li class="accordion__content-element">Арнульфи, Клод</li>
      <li class="accordion__content-element">Бакуа, Пьер Шарль</li>
      <li class="accordion__content-element">Баррабан, Жак</li>
      <li class="accordion__content-element">Бертен, Жан-Виктор</li>
      <li class="accordion__content-element">Бозе, Жозеф</li>
      <li class="accordion__content-element">Булонь, Бон Старший</li>
      <li class="accordion__content-element">Буше, Франсуа</li>
      <li class="accordion__content-element">Ватто, Антуан</li>
      <li class="accordion__content-element">Вестье, Антуан</li>
      <li class="accordion__content-element">Виньерон, Пьер Рош</li>
      <li class="accordion__content-element">Вуаль, Жан-Луи</li>
      <li class="accordion__content-element">Герен, Жан-Урбен</li>
      <li class="accordion__content-element">Гофье, Полина</li>
      <li class="accordion__content-element">Гро, Антуан-Жан</li>
      <li class="accordion__content-element">Дебре, Жан-Батист</li>
      <li class="accordion__content-element">Демарто, Жиль</li>
      <li class="accordion__content-element">Дюкрё, Жозеф</li>
      <li class="accordion__content-element">Жерар, Франсуа</li>
      <li class="accordion__content-element">Жилло, Клод</li>
      <li class="accordion__content-element">Каррей, Жак</li>
      <li class="accordion__content-element">Куапель, Антуан</li>
      <li class="accordion__content-element">Куапель, Ноэль</li>
      <li class="accordion__content-element">Куапель, Шарль</li>
      <li class="accordion__content-element">
        <span class="accordion__content-path" data-painter-path="tevenen">Тевенен, Шарль</span>
      </li>
      <li class="accordion__content-element">Турньер, Робер</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1800 по 1899 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Адлер, Жюль</li>
      <li class="accordion__content-element">Аллонже, Огюст</li>
      <li class="accordion__content-element">Аппер, Жорж</li>
      <li class="accordion__content-element">Байяр, Эмиль</li>
      <li class="accordion__content-element">Барден, Жан</li>
      <li class="accordion__content-element">Баро, Эмиль</li>
      <li class="accordion__content-element">Баррабан, Жак</li>
      <li class="accordion__content-element">Ватле, Луи Этьен</li>
      <li class="accordion__content-element">Воллон, Антуан</li>
      <li class="accordion__content-element">Галле, Эмиль</li>
      <li class="accordion__content-element">Гамон, Жан-Луи</li>
      <li class="accordion__content-element">Дебутен, Марселен</li>
      <li class="accordion__content-element">Деларош, Поль</li>
      <li class="accordion__content-element">Жаке, Жюль</li>
      <li class="accordion__content-element">Жоанно, Тони</li>
      <li class="accordion__content-element">Крепен, Луи-Филипп</li>
      <li class="accordion__content-element">Лаваль, Шарль</li>
      <li class="accordion__content-element">Лефевр, Робер</li>
      <li class="accordion__content-element">Мейнье, Шарль</li>
      <li class="accordion__content-element">Норман, Шарль</li>
      <li class="accordion__content-element">Персье, Шарль</li>
      <li class="accordion__content-element">Реаттю, Жак</li>
      <li class="accordion__content-element">Синьяк, Поль</li>
      <li class="accordion__content-element">Трюта, Феликс</li>
      <li class="accordion__content-element">Шеффер, Ари</li>
      <li class="accordion__content-element">Юэн, Виктор</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1900 по 1999 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Аппер, Жорж</li>
      <li class="accordion__content-element">Ариха, Авигдор</li>
      <li class="accordion__content-element">Базен, Жан</li>
      <li class="accordion__content-element">Беллмер, Ханс</li>
      <li class="accordion__content-element">Беро, Жан</li>
      <li class="accordion__content-element">Гиша, Леон</li>
      <li class="accordion__content-element">Готтлиб, Леопольд</li>
      <li class="accordion__content-element">Деван, Жан</li>
      <li class="accordion__content-element">Журден, Франсис</li>
      <li class="accordion__content-element">Зельман</li>
      <li class="accordion__content-element">Инденбаум, Леон</li>
      <li class="accordion__content-element">Каролюс-Дюран</li>
      <li class="accordion__content-element">Каррье-Беллёз, Пьер</li>
      <li class="accordion__content-element">Купка, Франтишек</li>
      <li class="accordion__content-element">Лермитт, Леон</li>
      <li class="accordion__content-element">Мар, Андре</li>
      <li class="accordion__content-element">Матисс, Анри</li>
      <li class="accordion__content-element">Рошгросс, Жорж</li>
      <li class="accordion__content-element">Руссо, Анри</li>
      <li class="accordion__content-element">Сааф, Эрик</li>
      <li class="accordion__content-element">Сезанн, Поль</li>
      <li class="accordion__content-element">Топор, Ролан</li>
      <li class="accordion__content-element">Фера, Серж</li>
      <li class="accordion__content-element">Фидлер, Эжен</li>
      <li class="accordion__content-element">Филью, Робер</li>
      <li class="accordion__content-element">Фриез, Отон</li>
      <li class="accordion__content-element">Хуан Грис</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 2000 г.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Алтунин, Константин</li>
      <li class="accordion__content-element">Арно Курле де Врежий</li>
      <li class="accordion__content-element">Арнштам, Кирилл</li>
      <li class="accordion__content-element">Бейрути, Риад</li>
      <li class="accordion__content-element">Беттанкур, Пьер</li>
      <li class="accordion__content-element">Битран, Альберт</li>
      <li class="accordion__content-element">Богатырёв, Михаил Юрьевич</li>
      <li class="accordion__content-element">Ван Хов, Франсин</li>
      <li class="accordion__content-element">Верленд, Клод</li>
      <li class="accordion__content-element">Гаруст, Жерар</li>
      <li class="accordion__content-element">Дюран-Рейнальдо, Матиас</li>
      <li class="accordion__content-element">Жансем, Жан</li>
      <li class="accordion__content-element">Клавелу, Николь</li>
      <li class="accordion__content-element">Корбетт, Лидия</li>
      <li class="accordion__content-element">Лочу, Клод-Макс</li>
      <li class="accordion__content-element">Маринетти, Жюльен</li>
      <li class="accordion__content-element">Пумейроль, Жан-Мари</li>
      <li class="accordion__content-element">Рансельяк, Бернар</li>
      <li class="accordion__content-element">Сирил Конго</li>
      <li class="accordion__content-element">Ханта, Шимон</li>
      <li class="accordion__content-element">Шафран, Сам</li>
    </ul>
  </li>
</ul>