<ul class="accordion__list list-reset is-hidden" data-country-list="france">
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1400 по 1499 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1500 по 1599 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Биго, Трофим</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Брио, Франсуа</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Буш, Валентин</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Гужон, Жан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дипр, Никола</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюваль, Марк</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюве, Жан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюмустье, Даниель</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюмустье, Жоффруа</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюмустье, Косм</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюмустье, Пьер</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюмустье, Этьен</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Карон, Антуан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Кенель, Франсуа</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Клуэ, Жан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Клуэ, Франсуа</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Корнель де Лион</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="latour">Латур, Жорж де</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Ле Муан, Жак</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Перреаль, Жан</a>
      </li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1600 по 1699 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1700 по 1799 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Агар, Жак</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Алле, Клод-Ги</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Арнульфи, Клод</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бакуа, Пьер Шарль</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Баррабан, Жак</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бертен, Жан-Виктор</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бозе, Жозеф</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Булонь, Бон Старший</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Буше, Франсуа</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Ватто, Антуан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Вестье, Антуан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Виньерон, Пьер Рош</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Вуаль, Жан-Луи</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Герен, Жан-Урбен</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Гофье, Полина</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Гро, Антуан-Жан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дебре, Жан-Батист</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Демарто, Жиль</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Дюкрё, Жозеф</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Жерар, Франсуа</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Жилло, Клод</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Каррей, Жак</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Куапель, Антуан</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Куапель, Ноэль</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Куапель, Шарль</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path accordion__content-path--open" data-painter-path="tevenen">Тевенен, Шарль</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Турньер, Робер</a>
      </li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1800 по 1899 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1900 по 1999 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 2000 г.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
</ul>