<ul class="accordion__list list-reset" data-country-list="italy">
  <li class="accordion__item accordion-open">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1400 по 1499 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бенедетто ди Биндо</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бергоньоне, Амброджо</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Биссоло, Франческо</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Больтраффио, Джованни</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бонсиньори, Франческо</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Боттичини, Рафаэлло</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Брамантино</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бреа, Людовико</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Бьяджо д’Антонио Туччи</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Веккьетта</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Андреа Верроккьо</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path accordion__content-path--open" data-painter-path="girlandaio">Доменико Гирландайо</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Беноццо Гоццоли</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Граначчи, Франческо</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Грегорио ди Чекко</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Джованни да Удине</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Джованни ди Паоло</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Джорджоне</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="latour">Жорж де Латур</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Пезеллино</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="preissler">Даниэль Прейслер</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Перуцци, Бальдассаре</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Пизанелло</a>
      </li>
      <li class="accordion__content-element">
        <a href="#noscroll" class="accordion__content-path" data-painter-path="empty">Пинтуриккьо</a>
      </li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1500 по 1599 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1600 по 1699 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1700 по 1799 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1800 по 1899 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1900 по 1999 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 2000 г.</span>
      <span class="accordion__icon"></span>
    </button>
        <div class="accordion__content accordion__content--empty is-hidden">
      <span class="accordion__empty-rect"></span>
      <div class="accordion__empty-wrap">
        <p class="accordion__empty-subtitle">Здесь пока пусто</p>
        <p class="accordion__empty-descr">
          А в галерее вы всегда можете найти что-то интересное для себя
        </p>
        <a href="#gallery" class="accordion__empty-link accordion__content-path">В галерею</a>
      </div>
    </div>
  </li>
</ul>