<div class="catalog__head">
  <h2 class="section__title catalog__title">Каталог</h2>
  <!-- <ul class="country__tabs list-reset">
    <li class="country__tab"><span class="country__tab-btn country__tab-btn--fr" data-country-btn="france"></span></li>
    <li class="country__tab"><span class="country__tab-btn country__tab-btn--ge" data-country-btn="germany"></span></li>
    <li class="country__tab"><span class="country__tab-btn country__tab-btn--it country__tab-btn--open" data-country-btn="italy"></span></li>
    <li class="country__tab"><span class="country__tab-btn country__tab-btn--ru" data-country-btn="russia"></span></li>
    <li class="country__tab"><span class="country__tab-btn country__tab-btn--bg" data-country-btn="belgium"></span></li>
  </ul> -->
</div>
<p class="catalog__descr">Акционеры крупнейших компаний, которые представляют собой яркий пример
  континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы
  этики и&nbsp;морали. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство,
  нанотехнологии и&nbsp;по&nbsp;сей день остаются уделом либералов, которые жаждут быть функционально разнесены
  на&nbsp;независимые элементы.
</p>