<ul class="accordion__list list-reset is-hidden" data-country-list="germany">
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1400 по 1499 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бургкмайр, Ханс</li>
      <li class="accordion__content-element">Виц, Конрад</li>
      <li class="accordion__content-element">Гольбейн, Ганс</li>
      <li class="accordion__content-element">Дюрер, Альбрехт</li>
      <li class="accordion__content-element">Катцхаймер, Вольфганг</li>
      <li class="accordion__content-element">Конрад фон Зост</li>
      <li class="accordion__content-element">Лохнер, Штефан</li>
      <li class="accordion__content-element">Мастер Бертрам</li>
      <li class="accordion__content-element">Мастер жития Марии</li>
      <li class="accordion__content-element">Мастер Франке</li>
      <li class="accordion__content-element">Мемлинг, Ганс</li>
      <li class="accordion__content-element">Мозер, Лукас</li>
      <li class="accordion__content-element">Мульчер, Ганс</li>
      <li class="accordion__content-element">Нотке, Бернт</li>
      <li class="accordion__content-element">Плейденвурф, Вильгельм</li>
      <li class="accordion__content-element">Плейденвурф, Ганс</li>
      <li class="accordion__content-element">Роде, Герман</li>
      <li class="accordion__content-element">Цайтблом, Бартоломеус</li>
      <li class="accordion__content-element">Шаффнер, Мартин</li>
      <li class="accordion__content-element">Шонгауэр, Мартин</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1500 по 1599 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Аахен, Ханс фон</li>
      <li class="accordion__content-element">Альдегревер, Генрих</li>
      <li class="accordion__content-element">Бальдунг, Ханс</li>
      <li class="accordion__content-element">Бехам, Бартель</li>
      <li class="accordion__content-element">Бри, Теодор де</li>
      <li class="accordion__content-element">Вольгемут, Михаэль</li>
      <li class="accordion__content-element">Гольбейн, Амброзиус</li>
      <li class="accordion__content-element">Грюневальд, Маттиас</li>
      <li class="accordion__content-element">Губер, Вольф</li>
      <li class="accordion__content-element">Дюрер, Альбрехт</li>
      <li class="accordion__content-element">Йост де Негкер</li>
      <li class="accordion__content-element">Кобер, Мартин</li>
      <li class="accordion__content-element">Кранах, Ганс</li>
      <li class="accordion__content-element">Лутгер том Ринг Младший</li>
      <li class="accordion__content-element">Милих, Ганс</li>
      <li class="accordion__content-element">Нотке, Бернт</li>
      <li class="accordion__content-element">Пенц, Георг</li>
      <li class="accordion__content-element">Роде, Герман</li>
      <li class="accordion__content-element">Фалькенборх, Лукас ван</li>
      <li class="accordion__content-element">Флегель, Георг</li>
      <li class="accordion__content-element">Цайтблом, Бартоломеус</li>
      <li class="accordion__content-element">Шаффнер, Мартин</li>
      <li class="accordion__content-element">Шен, Эрхард</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1600 по 1699 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Аахен, Ханс фон</li>
      <li class="accordion__content-element">Ведекинд, Иоганн Генрих</li>
      <li class="accordion__content-element">Вейер, Якоб</li>
      <li class="accordion__content-element">Детерс, Иоанн</li>
      <li class="accordion__content-element">Дувен, Ян Франс ван</li>
      <li class="accordion__content-element">Зандрарт, Иоахим фон</li>
      <li class="accordion__content-element">Кнеллер, Готфрид</li>
      <li class="accordion__content-element">Кнюпфер, Николаус</li>
      <li class="accordion__content-element">Лингельбах, Иоганн</li>
      <li class="accordion__content-element">Лисс, Иоганн</li>
      <li class="accordion__content-element">Лот, Иоганн Карл</li>
      <li class="accordion__content-element">
        <span class="accordion__content-path" data-painter-path="preissler">Прейслер, Даниэль</span>
      </li>
      <li class="accordion__content-element">Рихтер, Кристиан</li>
      <li class="accordion__content-element">Стробель, Бартоломей</li>
      <li class="accordion__content-element">Тамм, Франц Вернер фон</li>
      <li class="accordion__content-element">Флегель, Георг</li>
      <li class="accordion__content-element">Хайнц, Йоган Георг</li>
      <li class="accordion__content-element">Эльсхаймер, Адам</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1700 по 1799 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Агрикола, Кристоф Людвиг</li>
      <li class="accordion__content-element">Азам, Космас Дамиан</li>
      <li class="accordion__content-element">Бури, Фридрих</li>
      <li class="accordion__content-element">Ведекинд, Иоганн Генрих</li>
      <li class="accordion__content-element">Вейч, Фридрих Георг</li>
      <li class="accordion__content-element">Веле, Генрих Теодор</li>
      <li class="accordion__content-element">Вильманн, Михаэль</li>
      <li class="accordion__content-element">Графф, Антон</li>
      <li class="accordion__content-element">Гроот, Иван Фёдорович</li>
      <li class="accordion__content-element">Дувен, Ян Франс ван</li>
      <li class="accordion__content-element">Зенфф, Карл Август</li>
      <li class="accordion__content-element">Карстенс, Асмус Якоб</li>
      <li class="accordion__content-element">Кверфурт, Август</li>
      <li class="accordion__content-element">Келлерхофен, Мориц</li>
      <li class="accordion__content-element">Лун, Иоахим</li>
      <li class="accordion__content-element">Матьё, Георг Давид</li>
      <li class="accordion__content-element">Маульберч, Франц Антон</li>
      <li class="accordion__content-element">Менгс, Антон Рафаэль</li>
      <li class="accordion__content-element">Молитор, Ян Петр</li>
      <li class="accordion__content-element">Пэн, Антуан</li>
      <li class="accordion__content-element">Роде, Бернхард</li>
      <li class="accordion__content-element">Тангерман, Христиан</li>
      <li class="accordion__content-element">Тишбейн, Август</li>
      <li class="accordion__content-element">Хаккерт, Якоб Филипп</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1800 по 1899 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Адам, Альбрехт</li>
      <li class="accordion__content-element">Ам Энде, Ганс</li>
      <li class="accordion__content-element">Ахенбах, Андреас</li>
      <li class="accordion__content-element">Банцер, Карл</li>
      <li class="accordion__content-element">Бегас, Карл</li>
      <li class="accordion__content-element">Бегас, Рейнгольд</li>
      <li class="accordion__content-element">Блехен, Карл</li>
      <li class="accordion__content-element">Брайт, Антон</li>
      <li class="accordion__content-element">Гримм, Георг</li>
      <li class="accordion__content-element">Грундманн, Эмиль Отто</li>
      <li class="accordion__content-element">Дёплер, Эмиль</li>
      <li class="accordion__content-element">Детман, Людвиг</li>
      <li class="accordion__content-element">Диль, Людвиг</li>
      <li class="accordion__content-element">Зайтц, Людвиг</li>
      <li class="accordion__content-element">Залентин, Губерт</li>
      <li class="accordion__content-element">Крафт, Иоганн Петер</li>
      <li class="accordion__content-element">Крацайзен, Карл</li>
      <li class="accordion__content-element">Пильц, Отто</li>
      <li class="accordion__content-element">Поле, Леон</li>
      <li class="accordion__content-element">Ридель, Август</li>
      <li class="accordion__content-element">Тирш, Людвиг</li>
      <li class="accordion__content-element">Шлобах, Вилли</li>
      <li class="accordion__content-element">Шрадер, Юлиус</li>
      <li class="accordion__content-element">Якобс, Пауль Эмиль</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1900 по 1999 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Адам, Эмиль</li>
      <li class="accordion__content-element">Аккерман, Макс</li>
      <li class="accordion__content-element">Бёмер, Гунтер</li>
      <li class="accordion__content-element">Бок, Адольф</li>
      <li class="accordion__content-element">Вельш, Пауль</li>
      <li class="accordion__content-element">Вольс</li>
      <li class="accordion__content-element">Гендрих, Герман</li>
      <li class="accordion__content-element">Гёц, Карл Отто</li>
      <li class="accordion__content-element">Демниг, Гюнтер</li>
      <li class="accordion__content-element">Зитте, Рудольф</li>
      <li class="accordion__content-element">Кампф, Артур</li>
      <li class="accordion__content-element">Кифер, Ансельм</li>
      <li class="accordion__content-element">Молль, Оскар</li>
      <li class="accordion__content-element">Оэлен, Альберт</li>
      <li class="accordion__content-element">Пехштейн, Макс</li>
      <li class="accordion__content-element">Фирле, Вальтер</li>
      <li class="accordion__content-element">Фогелер, Генрих</li>
      <li class="accordion__content-element">Хёккер, Пауль</li>
      <li class="accordion__content-element">Цербе, Карл</li>
      <li class="accordion__content-element">Шримпф, Георг</li>
      <li class="accordion__content-element">Эйнбек, Вальтер</li>
      <li class="accordion__content-element">Эрбслё, Адольф</li>
      <li class="accordion__content-element">Эрдт, Ганс Руди</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 2000 г.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Айтель, Тим</li>
      <li class="accordion__content-element">Ахтернбуш, Герберт</li>
      <li class="accordion__content-element">Брух, Клаус фом</li>
      <li class="accordion__content-element">Вундерлих, Пауль</li>
      <li class="accordion__content-element">Герц, Йохен</li>
      <li class="accordion__content-element">Деманд, Томас</li>
      <li class="accordion__content-element">Демниг, Гюнтер</li>
      <li class="accordion__content-element">Дреер, Петер</li>
      <li class="accordion__content-element">Зитте, Рудольф</li>
      <li class="accordion__content-element">Иммендорф, Йорг</li>
      <li class="accordion__content-element">Калаизис, Арис</li>
      <li class="accordion__content-element">Кифер, Ансельм</li>
      <li class="accordion__content-element">Ламсфусс, Ульрих</li>
      <li class="accordion__content-element">Ленк, Петер</li>
      <li class="accordion__content-element">Линденберг, Удо</li>
      <li class="accordion__content-element">Луц, Бернд</li>
      <li class="accordion__content-element">Мёрс, Вальтер</li>
      <li class="accordion__content-element">Митавский, Борис</li>
      <li class="accordion__content-element">Оэлен, Альберт</li>
      <li class="accordion__content-element">Оэлен, Маркус</li>
      <li class="accordion__content-element">Партенхаймер, Юрген</li>
      <li class="accordion__content-element">Рихтер, Герхард</li>
      <li class="accordion__content-element">Рихтер, Даниэль</li>
      <li class="accordion__content-element">Тиха, Ганс</li>
    </ul>
  </li>
</ul>