<ul class="accordion__list list-reset" data-country-list="italy">
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1400 по 1499 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бенедетто ди Биндо</li>
      <li class="accordion__content-element">Бергоньоне, Амброджо</li>
      <li class="accordion__content-element">Биссоло, Франческо</li>
      <li class="accordion__content-element">Больтраффио, Джованни</li>
      <li class="accordion__content-element">Бонсиньори, Франческо</li>
      <li class="accordion__content-element">Боттичини, Рафаэлло</li>
      <li class="accordion__content-element">Брамантино</li>
      <li class="accordion__content-element">Бреа, Людовико</li>
      <li class="accordion__content-element">Бьяджо д’Антонио Туччи</li>
      <li class="accordion__content-element">Веккьетта</li>
      <li class="accordion__content-element">Андреа Верроккьо</li>
      <li class="accordion__content-element">
        <span class="accordion__content-path accordion__content-path--open" data-painter-path="girlandaio">Доменико Гирландайо</span>
      </li>
      <li class="accordion__content-element">Беноццо Гоццоли</li>
      <li class="accordion__content-element">Граначчи, Франческо</li>
      <li class="accordion__content-element">Грегорио ди Чекко</li>
      <li class="accordion__content-element">Джованни да Удине</li>
      <li class="accordion__content-element">Джованни ди Паоло</li>
      <li class="accordion__content-element">Джорджоне</li>
      <li class="accordion__content-element">Парентино, Бернардо</li>
      <li class="accordion__content-element">Пезеллино</li>
      <li class="accordion__content-element">Пьетро Перуджино</li>
      <li class="accordion__content-element">Перуцци, Бальдассаре</li>
      <li class="accordion__content-element">Пизанелло</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1500 по 1599 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бенедетто ди Биндо</li>
      <li class="accordion__content-element">Бергоньоне, Амброджо</li>
      <li class="accordion__content-element">Биссоло, Франческо</li>
      <li class="accordion__content-element">Больтраффио, Джованни</li>
      <li class="accordion__content-element">Бонсиньори, Франческо</li>
      <li class="accordion__content-element">Боттичини, Рафаэлло</li>
      <li class="accordion__content-element">Брамантино</li>
      <li class="accordion__content-element">Бреа, Людовико</li>
      <li class="accordion__content-element">Бьяджо д’Антонио Туччи</li>
      <li class="accordion__content-element">Веккьетта</li>
      <li class="accordion__content-element">Андреа Верроккьо</li>
      <li class="accordion__content-element">Доменико Гирландайо</li>
      <li class="accordion__content-element">Беноццо Гоццоли</li>
      <li class="accordion__content-element">Граначчи, Франческо</li>
      <li class="accordion__content-element">Грегорио ди Чекко</li>
      <li class="accordion__content-element">Джованни да Удине</li>
      <li class="accordion__content-element">Джованни ди Паоло</li>
      <li class="accordion__content-element">Джорджоне</li>
      <li class="accordion__content-element">Парентино, Бернардо</li>
      <li class="accordion__content-element">Пезеллино</li>
      <li class="accordion__content-element">Пьетро Перуджино</li>
      <li class="accordion__content-element">Перуцци, Бальдассаре</li>
      <li class="accordion__content-element">Пизанелло</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1600 по 1699 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бенедетто ди Биндо</li>
      <li class="accordion__content-element">Бергоньоне, Амброджо</li>
      <li class="accordion__content-element">Биссоло, Франческо</li>
      <li class="accordion__content-element">Больтраффио, Джованни</li>
      <li class="accordion__content-element">Бонсиньори, Франческо</li>
      <li class="accordion__content-element">Боттичини, Рафаэлло</li>
      <li class="accordion__content-element">Брамантино</li>
      <li class="accordion__content-element">Бреа, Людовико</li>
      <li class="accordion__content-element">Бьяджо д’Антонио Туччи</li>
      <li class="accordion__content-element">Веккьетта</li>
      <li class="accordion__content-element">Андреа Верроккьо</li>
      <li class="accordion__content-element">Доменико Гирландайо</li>
      <li class="accordion__content-element">Беноццо Гоццоли</li>
      <li class="accordion__content-element">Граначчи, Франческо</li>
      <li class="accordion__content-element">Грегорио ди Чекко</li>
      <li class="accordion__content-element">Джованни да Удине</li>
      <li class="accordion__content-element">Джованни ди Паоло</li>
      <li class="accordion__content-element">Джорджоне</li>
      <li class="accordion__content-element">Парентино, Бернардо</li>
      <li class="accordion__content-element">Пезеллино</li>
      <li class="accordion__content-element">Пьетро Перуджино</li>
      <li class="accordion__content-element">Перуцци, Бальдассаре</li>
      <li class="accordion__content-element">Пизанелло</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1700 по 1799 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бенедетто ди Биндо</li>
      <li class="accordion__content-element">Бергоньоне, Амброджо</li>
      <li class="accordion__content-element">Биссоло, Франческо</li>
      <li class="accordion__content-element">Больтраффио, Джованни</li>
      <li class="accordion__content-element">Бонсиньори, Франческо</li>
      <li class="accordion__content-element">Боттичини, Рафаэлло</li>
      <li class="accordion__content-element">Брамантино</li>
      <li class="accordion__content-element">Бреа, Людовико</li>
      <li class="accordion__content-element">Бьяджо д’Антонио Туччи</li>
      <li class="accordion__content-element">Веккьетта</li>
      <li class="accordion__content-element">Андреа Верроккьо</li>
      <li class="accordion__content-element">Доменико Гирландайо</li>
      <li class="accordion__content-element">Беноццо Гоццоли</li>
      <li class="accordion__content-element">Граначчи, Франческо</li>
      <li class="accordion__content-element">Грегорио ди Чекко</li>
      <li class="accordion__content-element">Джованни да Удине</li>
      <li class="accordion__content-element">Джованни ди Паоло</li>
      <li class="accordion__content-element">Джорджоне</li>
      <li class="accordion__content-element">Парентино, Бернардо</li>
      <li class="accordion__content-element">Пезеллино</li>
      <li class="accordion__content-element">Пьетро Перуджино</li>
      <li class="accordion__content-element">Перуцци, Бальдассаре</li>
      <li class="accordion__content-element">Пизанелло</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1800 по 1899 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бенедетто ди Биндо</li>
      <li class="accordion__content-element">Бергоньоне, Амброджо</li>
      <li class="accordion__content-element">Биссоло, Франческо</li>
      <li class="accordion__content-element">Больтраффио, Джованни</li>
      <li class="accordion__content-element">Бонсиньори, Франческо</li>
      <li class="accordion__content-element">Боттичини, Рафаэлло</li>
      <li class="accordion__content-element">Брамантино</li>
      <li class="accordion__content-element">Бреа, Людовико</li>
      <li class="accordion__content-element">Бьяджо д’Антонио Туччи</li>
      <li class="accordion__content-element">Веккьетта</li>
      <li class="accordion__content-element">Андреа Верроккьо</li>
      <li class="accordion__content-element">Доменико Гирландайо</li>
      <li class="accordion__content-element">Беноццо Гоццоли</li>
      <li class="accordion__content-element">Граначчи, Франческо</li>
      <li class="accordion__content-element">Грегорио ди Чекко</li>
      <li class="accordion__content-element">Джованни да Удине</li>
      <li class="accordion__content-element">Джованни ди Паоло</li>
      <li class="accordion__content-element">Джорджоне</li>
      <li class="accordion__content-element">Парентино, Бернардо</li>
      <li class="accordion__content-element">Пезеллино</li>
      <li class="accordion__content-element">Пьетро Перуджино</li>
      <li class="accordion__content-element">Перуцци, Бальдассаре</li>
      <li class="accordion__content-element">Пизанелло</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1900 по 1999 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бенедетто ди Биндо</li>
      <li class="accordion__content-element">Бергоньоне, Амброджо</li>
      <li class="accordion__content-element">Биссоло, Франческо</li>
      <li class="accordion__content-element">Больтраффио, Джованни</li>
      <li class="accordion__content-element">Бонсиньори, Франческо</li>
      <li class="accordion__content-element">Боттичини, Рафаэлло</li>
      <li class="accordion__content-element">Брамантино</li>
      <li class="accordion__content-element">Бреа, Людовико</li>
      <li class="accordion__content-element">Бьяджо д’Антонио Туччи</li>
      <li class="accordion__content-element">Веккьетта</li>
      <li class="accordion__content-element">Андреа Верроккьо</li>
      <li class="accordion__content-element">Доменико Гирландайо</li>
      <li class="accordion__content-element">Беноццо Гоццоли</li>
      <li class="accordion__content-element">Граначчи, Франческо</li>
      <li class="accordion__content-element">Грегорио ди Чекко</li>
      <li class="accordion__content-element">Джованни да Удине</li>
      <li class="accordion__content-element">Джованни ди Паоло</li>
      <li class="accordion__content-element">Джорджоне</li>
      <li class="accordion__content-element">Парентино, Бернардо</li>
      <li class="accordion__content-element">Пезеллино</li>
      <li class="accordion__content-element">Пьетро Перуджино</li>
      <li class="accordion__content-element">Перуцци, Бальдассаре</li>
      <li class="accordion__content-element">Пизанелло</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 2000 г.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бенедетто ди Биндо</li>
      <li class="accordion__content-element">Бергоньоне, Амброджо</li>
      <li class="accordion__content-element">Биссоло, Франческо</li>
      <li class="accordion__content-element">Больтраффио, Джованни</li>
      <li class="accordion__content-element">Бонсиньори, Франческо</li>
      <li class="accordion__content-element">Боттичини, Рафаэлло</li>
      <li class="accordion__content-element">Брамантино</li>
      <li class="accordion__content-element">Бреа, Людовико</li>
      <li class="accordion__content-element">Бьяджо д’Антонио Туччи</li>
      <li class="accordion__content-element">Веккьетта</li>
      <li class="accordion__content-element">Андреа Верроккьо</li>
      <li class="accordion__content-element">Доменико Гирландайо</li>
      <li class="accordion__content-element">Беноццо Гоццоли</li>
      <li class="accordion__content-element">Граначчи, Франческо</li>
      <li class="accordion__content-element">Грегорио ди Чекко</li>
      <li class="accordion__content-element">Джованни да Удине</li>
      <li class="accordion__content-element">Джованни ди Паоло</li>
      <li class="accordion__content-element">Джорджоне</li>
      <li class="accordion__content-element">Парентино, Бернардо</li>
      <li class="accordion__content-element">Пезеллино</li>
      <li class="accordion__content-element">Пьетро Перуджино</li>
      <li class="accordion__content-element">Перуцци, Бальдассаре</li>
      <li class="accordion__content-element">Пизанелло</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
    </ul>
  </li>
</ul>