<ul class="accordion__list list-reset is-hidden" data-country-list="russia">
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1400&nbsp;пo 1499 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Амвросий</li>
      <li class="accordion__content-element">Дионисий</li>
      <li class="accordion__content-element">Прохор с Городца</li>
      <li class="accordion__content-element">Андрей Рублёв</li>
      <li class="accordion__content-element">Гойтан</li>
      <li class="accordion__content-element">Даниил Чёрный</li>
      <li class="accordion__content-element">Исаакий</li>
      <li class="accordion__content-element">Симеон Чёрный</li>
      <li class="accordion__content-element">Феофан Грек</li>
      <li class="accordion__content-element">Адольские</li>
      <li class="accordion__content-element">Бахматов, Иван</li>
      <li class="accordion__content-element">Васильев, Матвей</li>
      <li class="accordion__content-element">Екимов, Андрей</li>
      <li class="accordion__content-element">Иванов, Андрей</li>
      <li class="accordion__content-element">Калиновский, Лаврентий</li>
      <li class="accordion__content-element">Нехлебаев, Семён</li>
      <li class="accordion__content-element">Ритт, Августин</li>
      <li class="accordion__content-element">Таннауэр, Иоганн</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1500 по 1599 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Абашин, Виктор</li>
      <li class="accordion__content-element">Бабаев, Полидор</li>
      <li class="accordion__content-element">Валтер, Янис</li>
      <li class="accordion__content-element">Гугунава, Иван</li>
      <li class="accordion__content-element">Губарев, Пётр</li>
      <li class="accordion__content-element">Зарецкий, Андрей</li>
      <li class="accordion__content-element">Каноппи, Антонио</li>
      <li class="accordion__content-element">Мошков, Владимир</li>
      <li class="accordion__content-element">Нефф, Тимофей</li>
      <li class="accordion__content-element">Петровский, Пётр</li>
      <li class="accordion__content-element">Плахов, Лавр</li>
      <li class="accordion__content-element">Премацци, Луиджи</li>
      <li class="accordion__content-element">Сорокин, Евграф</li>
      <li class="accordion__content-element">Ступин, Александр</li>
      <li class="accordion__content-element">Тозелли, Анжело</li>
      <li class="accordion__content-element">Тончи, Сальваторе</li>
      <li class="accordion__content-element">Братья Чернецовы</li>
      <li class="accordion__content-element">Шестёркин, Михаил</li>
      <li class="accordion__content-element">Яненко, Яков</li>
      <li class="accordion__content-element">Ярцев, Григорий</li>
      <li class="accordion__content-element">Чирин, Прокопий</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1600 по 1699 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Бахматов, Иван</li>
      <li class="accordion__content-element">Безмин, Иван</li>
      <li class="accordion__content-element">Бовыкин, Никифор</li>
      <li class="accordion__content-element">Василий Корень</li>
      <li class="accordion__content-element">Гурий Никитин</li>
      <li class="accordion__content-element">Детерс, Иоанн</li>
      <li class="accordion__content-element">Дмитрий Григорьев</li>
      <li class="accordion__content-element">Зиновьев, Георгий</li>
      <li class="accordion__content-element">Золотарёв, Карп</li>
      <li class="accordion__content-element">Зубов, Фёдор</li>
      <li class="accordion__content-element">Ильин, Андрей</li>
      <li class="accordion__content-element">Иосиф Владимиров</li>
      <li class="accordion__content-element">Милютин, Михаил</li>
      <li class="accordion__content-element">Никита Павловец</li>
      <li class="accordion__content-element">Познанский, Василий</li>
      <li class="accordion__content-element">Рязанец, Степан</li>
      <li class="accordion__content-element">Рязанец, Тимофей</li>
      <li class="accordion__content-element">Салтанов, Богдан</li>
      <li class="accordion__content-element">Севастьян Дмитриев</li>
      <li class="accordion__content-element">Сергеев, Иродион</li>
      <li class="accordion__content-element">Ухтомский, Феодот</li>
      <li class="accordion__content-element">Ушаков, Симон</li>
      <li class="accordion__content-element">Чирин, Прокопий</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1700 по 1799 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Антропов, Алексей</li>
      <li class="accordion__content-element">Бельский, Алексей</li>
      <li class="accordion__content-element">Виги, Антонио</li>
      <li class="accordion__content-element">Воронин, Лука</li>
      <li class="accordion__content-element">Вуаль, Жан-Луи</li>
      <li class="accordion__content-element">Гзелль, Георг</li>
      <li class="accordion__content-element">Дрождин, Пётр</li>
      <li class="accordion__content-element">Каноппи, Антонио</li>
      <li class="accordion__content-element">Коптев, Василий</li>
      <li class="accordion__content-element">Лапин, Иван</li>
      <li class="accordion__content-element">Мусикийский, Григорий</li>
      <li class="accordion__content-element">Нехлебаев, Семён</li>
      <li class="accordion__content-element">Островский, Григорий</li>
      <li class="accordion__content-element">Познанский, Василий</li>
      <li class="accordion__content-element">Ротари, Пьетро</li>
      <li class="accordion__content-element">Саблуков, Иван</li>
      <li class="accordion__content-element">Торелли, Стефано</li>
      <li class="accordion__content-element">Угрюмов, Григорий</li>
      <li class="accordion__content-element">Ухтомский, Феодот</li>
      <li class="accordion__content-element">Филатьев, Тихон</li>
      <li class="accordion__content-element">Чернов, Иван</li>
      <li class="accordion__content-element">Штелин, Якоб</li>
      <li class="accordion__content-element">Щедрин, Семён</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1800 по 1899 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Антонелли, Франц</li>
      <li class="accordion__content-element">Аракелян, Седрак</li>
      <li class="accordion__content-element">Блинов, Иван</li>
      <li class="accordion__content-element">Борель, Пётр</li>
      <li class="accordion__content-element">Гофман, Оскар</li>
      <li class="accordion__content-element">Десятов, Павел</li>
      <li class="accordion__content-element">Дощеников, Иван</li>
      <li class="accordion__content-element">Жуковский, Станислав</li>
      <li class="accordion__content-element">Зощенко, Михаил</li>
      <li class="accordion__content-element">Кившенко, Алексей</li>
      <li class="accordion__content-element">Левитан, Исаак</li>
      <li class="accordion__content-element">Манизер, Генрих</li>
      <li class="accordion__content-element">Остроухов, Илья</li>
      <li class="accordion__content-element">Платонов, Харитон</li>
      <li class="accordion__content-element">Руссен, Викентий</li>
      <li class="accordion__content-element">
        <span class="accordion__content-path accordion__content-path--open" data-painter-path="surikov">Суриков, Василий</span>
      </li>
      <li class="accordion__content-element">Теребенёв, Михаил</li>
      <li class="accordion__content-element">Френц, Рудольф</li>
      <li class="accordion__content-element">Харламов, Николай</li>
      <li class="accordion__content-element">Ческий, Иван</li>
      <li class="accordion__content-element">Штембер, Виктор</li>
      <li class="accordion__content-element">Шустов, Сергей</li>
      <li class="accordion__content-element">Щербиновский, Дмитрий</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1900 по 1999 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Авдеев, Юрий</li>
      <li class="accordion__content-element">Айзенман, Алексей</li>
      <li class="accordion__content-element">Балабанов, Валерий</li>
      <li class="accordion__content-element">Ворошилов, Игорь</li>
      <li class="accordion__content-element">Ганский, Пётр</li>
      <li class="accordion__content-element">Игумнов, Сергей</li>
      <li class="accordion__content-element">Каверзнев, Илья</li>
      <li class="accordion__content-element">Кадыров, Рафаэль</li>
      <li class="accordion__content-element">Лебедев, Порфирий</li>
      <li class="accordion__content-element">Лисицын, Константин</li>
      <li class="accordion__content-element">Молчанова, Галина</li>
      <li class="accordion__content-element">Пегов, Виктор</li>
      <li class="accordion__content-element">ПинтурПетров, Аркадий</li>
      <li class="accordion__content-element">Пономарёв, Николай</li>
      <li class="accordion__content-element">Суворов, Василий</li>
      <li class="accordion__content-element">Тихановский, Михаил</li>
      <li class="accordion__content-element">Третьяков, Алексей</li>
      <li class="accordion__content-element">Фёдоров, Семён</li>
      <li class="accordion__content-element">Флоренская, Ольга</li>
      <li class="accordion__content-element">Флоренский, Александр</li>
      <li class="accordion__content-element">Эфрон, Ариадна</li>
      <li class="accordion__content-element">Юдин, Лев</li>
      <li class="accordion__content-element">Юнге, Екатерина</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 2000 г.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Алтунин, Константин</li>
      <li class="accordion__content-element">Асс, Кирилл</li>
      <li class="accordion__content-element">Бомштейн, Борис</li>
      <li class="accordion__content-element">Копейкин,</li>
      <li class="accordion__content-element">Куваев, Олег</li>
      <li class="accordion__content-element">Ногин, Михаил</li>
      <li class="accordion__content-element">Оньков, Виталий</li>
      <li class="accordion__content-element">Остапенко, Леонид</li>
      <li class="accordion__content-element">Павлов, Геннадий</li>
      <li class="accordion__content-element">Пономарёв, Николай</li>
      <li class="accordion__content-element">Ремнёв, Андрей</li>
      <li class="accordion__content-element">Сахненко, Иван</li>
      <li class="accordion__content-element">Слобожанина, Анна</li>
      <li class="accordion__content-element">Супереко, Олег</li>
      <li class="accordion__content-element">Тихановский, Михаил</li>
      <li class="accordion__content-element">Тотибадзе, Константин</li>
      <li class="accordion__content-element">Фишман, Пётр</li>
      <li class="accordion__content-element">Фомиряков, Георгий</li>
      <li class="accordion__content-element">Ханов, Ильдар</li>
      <li class="accordion__content-element">Цесюлевич, Леопольд</li>
      <li class="accordion__content-element">Четков, Борис</li>
      <li class="accordion__content-element">Шинкар, Игорь</li>
      <li class="accordion__content-element">Ярыгин, Алексей</li>
    </ul>
  </li>
</ul>