<div class="catalog-left painter" data-painter-target="girlandaio" data-default-painters="italy">
  <img src="images/catalog/girlandaio.jpg" alt="Портрет Гирландайо" class="painter__img">
  <p class="painter__name">Доменико Гирландайо</p>
  <span class="painter__years">2 июня 1448 — 11 января 1494.</span>
  <p class="painter__descr">Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель
    художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо. Глава художественной
    мастерской, где юный Микеланджело в&nbsp;течение года овладевал профессиональными навыками. Автор фресковых
    циклов, в&nbsp;которых выпукло, со&nbsp;всевозможными подробностями показана домашняя жизнь библейских
    персонажей (в&nbsp;их&nbsp;роли выступают знатные граждане Флоренции в&nbsp;костюмах того времени).</p>
</div>

<div class="catalog-left painter is-hidden" data-painter-target="latour" data-default-painters="france">
  <img src="images/catalog/laTour.jpg" alt="Портрет де Латур" class="painter__img">
  <p class="painter__name">Жорж де Латур</p>
  <span class="painter__years">13 марта 1593 — 30 января 1652.</span>
  <p class="painter__descr">Жорж Дюмениль де Латур родился 13 марта 1593 года в местечке Вик-сюр-Сей в семье булочника,
    жил близ Люневиля до самой своей смерти. Помимо нескольких документов, содержащих сведения о его женитьбе в 1621
    году, назначении официальным художником Люневиля в 1644 году и главным живописцем короля в 1646 году, нет никакой
    информации о жизни мастера. Ни одно из его произведений не может быть датировано с полной достоверностью. Однако
    известно, что лотарингский герцог Генрих II в 1623 и 1624 годах купил несколько картин Латура.</p>
</div>

<div class="catalog-left painter is-hidden" data-painter-target="tevenen">
  <img src="images/catalog/tevenen.jpg" alt="Портрет Тевенена" class="painter__img">
  <p class="painter__name">Шарль Тевене́н</p>
  <span class="painter__years">12 июля 1764 — 28 февраля 1838.</span>
  <p class="painter__descr">Шарль Тевене&#769;н&nbsp;&mdash; французский художник-баталист неоклассицизма, изображавший
    героические сцены периода Революции и&nbsp;Империи. Сын придворного архитектора, обучался в&nbsp;Королевской
    Академии
    живописи и&nbsp;скульптуры у
    художника Венсана. В&nbsp;1789 году награждён вторым призом Римской премии за&nbsp;полотно &laquo;Иосиф, признанный
    братьями&raquo;. В&nbsp;томже году первым из&nbsp;живописцев обратился к&nbsp;теме взятия Бастилии
    (&laquo;Un&nbsp;&bdquo;vainqueur&ldquo; de&nbsp;la&nbsp;Bastille&raquo;, музей Карнавале).Лауреат Римской премии
    1791
    года.В 1816-23 годах&nbsp;&mdash; директор Французской Академии в&nbsp;Риме; по&nbsp;возвращении во&nbsp;Францию
    стал
    в&nbsp;1825 году членом Академииизящных искусств, затем хранителем кабинета эстампов Национальной библиотеки.</p>
</div>

<div class="catalog-left painter is-hidden" data-painter-target="preissler" data-default-painters="germany">
  <img src="images/catalog/preissler.jpg" alt="Портрет Прейслерa" class="painter__img">
  <p class="painter__name">Даниэль Прейслер</p>
  <span class="painter__years">17 января 1666 — 13 октября 1737.</span>
  <p class="painter__descr">Даниэль Прейслер&nbsp;&mdash; немецкий исторический живописец, портретист. Основатель большой художественной семьи Прайслеров, члены которой работали на&nbsp;протяжении трёх веков.
    Даниэль Прайслер Старший родился в&nbsp;Праге Богемия, учился живописи в&nbsp;Дрездене, столице Саксонии. С&nbsp;1652
    года жил и&nbsp;работал в&nbsp;Нюрнберге (Бавария). Из&nbsp;его картин в&nbsp;особенности известны: &laquo;Смерть
    Авеля&raquo;, &laquo;Сошествие Св. Духа&raquo; (в&nbsp;госпитальной церкви в&nbsp;Нюрнберге), &laquo;Вознесение
    Господне&raquo; (в&nbsp;дворцовой капелле в&nbsp;том&nbsp;же городе) и&nbsp;мужской портрет (в&nbsp;Брауншвейгской
    галерее).</p>
</div>

<div class="catalog-left painter is-hidden" data-painter-target="surikov" data-default-painters="russia">
  <img src="images/catalog/surikov.jpg" alt="Портрет Сурикова" class="painter__img">
  <p class="painter__name">Василий Иванович Суриков</p>
  <span class="painter__years">24 января 1848 — 19 марта 1916.</span>
  <p class="painter__descr">Василий Суриков художник, выдающийся мастер в&nbsp;русском изобразительном искусстве
    19&nbsp;века, и&nbsp;начала 20-го века. Творчество Сурикова тесно связано с&nbsp;яркими периодами истории России,
    в&nbsp;своих масштабных произведениях художник правдиво передал характерные признаки русского народа, его самобытность
    и&nbsp;жизненную сущность.</p>
</div>

<div class="catalog-left painter is-hidden" data-painter-target="rubens" data-default-painters="belgium">
  <img src="images/catalog/rubens.jpg" alt="Портрет Рубенса" class="painter__img">
  <p class="painter__name">Питер Пауль Рубенс</p>
  <span class="painter__years">28 июня 1577 — 30 мая 1640.</span>
  <p class="painter__descr">Творчество Рубенса&nbsp;&mdash; органичный сплав традиций брейгелевского реализма
    с&nbsp;достижениями венецианской школы. Рубенс специализировался на&nbsp;религиозной живописи (в&nbsp;том числе
    алтарных образах), писал картины на&nbsp;мифологические и&nbsp;аллегорические сюжеты, портреты (от&nbsp;этого жанра
    он&nbsp;отказался в&nbsp;последние годы жизни), пейзажи и&nbsp;исторические полотна, делал также эскизы для шпалер
    и&nbsp;книжных иллюстраций. В&nbsp;технике масляной живописи Рубенс был одним из&nbsp;последних художников,
    использовавших деревянные панели для станковых работ, даже очень больших по&nbsp;размеру.</p>
</div>

<div class="catalog-left painter is-hidden" data-painter-target="empty">
  <img src="images/catalog/empty.jpg" alt="Пустой портрет" class="painter__img">
  <p class="painter__name">Что мы о нём знаем?</p>
  <span class="painter__years"></span>
  <p class="painter__descr">Пока ничего... Зато мы точно знаем, что в галерее есть на что посмотреть!</p>
</div>