<ul class="accordion__list list-reset is-hidden" data-country-list="belgium">
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1400 по 1499 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Басса, Феррер</li>
      <li class="accordion__content-element">Бермехо, Бартоломе</li>
      <li class="accordion__content-element">Берругете, Алонсо</li>
      <li class="accordion__content-element">Берругете, Педро</li>
      <li class="accordion__content-element">Далмау, Луис</li>
      <li class="accordion__content-element">Зиттов, Михель</li>
      <li class="accordion__content-element">Марторель, Бернат</li>
      <li class="accordion__content-element">Мастер святого Ильдефонса</li>
      <li class="accordion__content-element">Серра, Пере</li>
      <li class="accordion__content-element">Фландес, Хуан</li>
      <li class="accordion__content-element">Хименес, Мигель</li>
      <li class="accordion__content-element">Хорхе Инглес</li>
      <li class="accordion__content-element">Энгелбрехтсен, Корнелис</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1500 по 1599 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Берругете, Алонсо</li>
      <li class="accordion__content-element">Бесерра, Гаспар</li>
      <li class="accordion__content-element">Эль Греко</li>
      <li class="accordion__content-element">Зиттов, Михель</li>
      <li class="accordion__content-element">Кардуччи, Бартоломео</li>
      <li class="accordion__content-element">Кардуччи, Винченцо</li>
      <li class="accordion__content-element">Лейден, Артген ван</li>
      <li class="accordion__content-element">Льянос, Фернандо де</li>
      <li class="accordion__content-element">Мачука, Педро</li>
      <li class="accordion__content-element">Мор, Антонис</li>
      <li class="accordion__content-element">
        <span class="accordion__content-path accordion__content-path--open" data-painter-path="rubens">Питер Рубенс</span>
      </li>
      <li class="accordion__content-element">Наваррете, Хуан Фернандес де</li>
      <li class="accordion__content-element">Пантоха де ла Крус, Хуан</li>
      <li class="accordion__content-element">Пачеко, Франсиско</li>
      <li class="accordion__content-element">Педро де Кампанья</li>
      <li class="accordion__content-element">Педро Орренте</li>
      <li class="accordion__content-element">Санчес Котан, Хуан</li>
      <li class="accordion__content-element">Санчес Коэльо, Алонсо</li>
      <li class="accordion__content-element">Фландес, Хуан</li>
      <li class="accordion__content-element">Хуни, Хуанде де</li>
      <li class="accordion__content-element">Энгелбрехтсен, Корнелис</li>
      <li class="accordion__content-element">Эррера, Франсиско</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1600 по 1699 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Антолинес, Хосе</li>
      <li class="accordion__content-element">Ван дер Амен, Хуан</li>
      <li class="accordion__content-element">Веласкес, Диего</li>
      <li class="accordion__content-element">Виладомат, Антони</li>
      <li class="accordion__content-element">Гальван, Хуан</li>
      <li class="accordion__content-element">Друшаут, Мартин</li>
      <li class="accordion__content-element">Камило, Франсиско</li>
      <li class="accordion__content-element">Кано, Алонсо</li>
      <li class="accordion__content-element">Кардуччи, Винченцо</li>
      <li class="accordion__content-element">Леонардо, Хосе</li>
      <li class="accordion__content-element">Мартинес, Хусепе</li>
      <li class="accordion__content-element">Мена, Педро де</li>
      <li class="accordion__content-element">Паломино, Антонио</li>
      <li class="accordion__content-element">Переда, Антонио</li>
      <li class="accordion__content-element">Рибальта, Хуан</li>
      <li class="accordion__content-element">Риси, Франциско</li>
      <li class="accordion__content-element">Санчес Котан, Хуан</li>
      <li class="accordion__content-element">Сурбаран, Хуан де</li>
      <li class="accordion__content-element">Тристан, Луис</li>
      <li class="accordion__content-element">Теотокопули, Хорхе Мануэль</li>
      <li class="accordion__content-element">Эррера, Франсиско</li>
      <li class="accordion__content-element">Эррера, Франсиско</li>
      <li class="accordion__content-element">Эспиноса, Хасинто Херонимо де</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1700 по 1799 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Байеу, Франсиско</li>
      <li class="accordion__content-element">Бонавиа, Сантьяго</li>
      <li class="accordion__content-element">Вергара-Химено, Хосе</li>
      <li class="accordion__content-element">Виладомат, Антони</li>
      <li class="accordion__content-element">Гойя, Франсиско</li>
      <li class="accordion__content-element">Карнисеро, Антонио</li>
      <li class="accordion__content-element">Мелендес, Луис</li>
      <li class="accordion__content-element">Паломино, Антонио</li>
      <li class="accordion__content-element">Парет-и-Алькасар, Луис</li>
      <li class="accordion__content-element">Портанья, Висенте Лопес</li>
      <li class="accordion__content-element">Рамос, Франциско Ксавьер</li>
      <li class="accordion__content-element">Балака, Хосе</li>
      <li class="accordion__content-element">Боррель дель Казо, Пере</li>
      <li class="accordion__content-element">Кутанда, Висенте</li>
      <li class="accordion__content-element">Санчес Перье, Эмилио</li>
      <li class="accordion__content-element">Регойос, Дарио де</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1800 по 1899 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Алисаль, Хосе Касадо дель</li>
      <li class="accordion__content-element">Алонсо Перес, Мариано</li>
      <li class="accordion__content-element">Альваро-и-Бриева, Николас</li>
      <li class="accordion__content-element">Балака, Рикардо</li>
      <li class="accordion__content-element">Бельграно, Хосе Денис</li>
      <li class="accordion__content-element">Вайреда, Жоаким</li>
      <li class="accordion__content-element">Вильямиль, Хенаро Перес</li>
      <li class="accordion__content-element">Мадрасо, Педро де</li>
      <li class="accordion__content-element">Пальмароли, Висенте</li>
      <li class="accordion__content-element">Пласенсия, Касто</li>
      <li class="accordion__content-element">Пуэбла, Диоскоро</li>
      <li class="accordion__content-element">Регойос, Дарио де</li>
      <li class="accordion__content-element">Сала Франсес, Эмилио</li>
      <li class="accordion__content-element">Тапиро, Хосе</li>
      <li class="accordion__content-element">Урхель, Модест</li>
      <li class="accordion__content-element">Утрильо, Микел</li>
      <li class="accordion__content-element">Фалеро, Луис Рикардо</li>
      <li class="accordion__content-element">Фортуни, Мариано</li>
      <li class="accordion__content-element">Хименес Аранда, Луис</li>
      <li class="accordion__content-element">Хименес Аранда, Хосе</li>
      <li class="accordion__content-element">Чека, Ульпиано</li>
      <li class="accordion__content-element">Эстевес, Фердинанд</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 1900 по 1999 гг.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Агирре, Лоренсо</li>
      <li class="accordion__content-element">Атьенса, Анхель</li>
      <li class="accordion__content-element">Барам, Сёма</li>
      <li class="accordion__content-element">Бенлиуре, Хосе</li>
      <li class="accordion__content-element">Ботельо, Анхель</li>
      <li class="accordion__content-element">Гараисабаль, Хуан</li>
      <li class="accordion__content-element">Гарсиа Сампедро, Томас</li>
      <li class="accordion__content-element">Домингес, Оскар</li>
      <li class="accordion__content-element">Исидор Гил Габилондо</li>
      <li class="accordion__content-element">Кабреро Арналь, Хосе</li>
      <li class="accordion__content-element">Крус Эррера, Хосе</li>
      <li class="accordion__content-element">Лопес Гарсия, Антонио</li>
      <li class="accordion__content-element">Мадрасо-и-Очоа, Федерико</li>
      <li class="accordion__content-element">Монирул Ислам</li>
      <li class="accordion__content-element">Описсо, Рикард</li>
      <li class="accordion__content-element">Ренау, Жозеп</li>
      <li class="accordion__content-element">Руис Бласко, Хосе</li>
      <li class="accordion__content-element">Сала Франсес, Эмилио</li>
      <li class="accordion__content-element">Сулоага, Игнасио</li>
      <li class="accordion__content-element">Тапиес, Антони</li>
      <li class="accordion__content-element">Хуан Грис</li>
      <li class="accordion__content-element">Цинграф, Ганс</li>
      <li class="accordion__content-element">Чека, Ульпиано</li>
    </ul>
  </li>
  <li class="accordion__item">
    <button class="btn-reset accordion__button">
      <span class="accordion__title">С 2000 г.</span>
      <span class="accordion__icon"></span>
    </button>
    <ul class="accordion__content list-reset is-hidden">
      <li class="accordion__content-element">Агуайо, Фермин</li>
      <li class="accordion__content-element">Аргуэльо, Кико</li>
      <li class="accordion__content-element">Бехтольд, Эрвин</li>
      <li class="accordion__content-element">Бигас Луна</li>
      <li class="accordion__content-element">Гараисабаль, Хуан</li>
      <li class="accordion__content-element">Клаве, Антони</li>
      <li class="accordion__content-element">Крус Эррера, Хосе</li>
      <li class="accordion__content-element">Мартинес Кубелльс, Энрике</li>
      <li class="accordion__content-element">Миро, Жоан</li>
      <li class="accordion__content-element">Молья, Жорди</li>
      <li class="accordion__content-element">Ньева, Франсиско</li>
      <li class="accordion__content-element">Пинтуриккьо</li>
      <li class="accordion__content-element">Регойос, Дарио де</li>
      <li class="accordion__content-element">Пикассо, Пабло</li>
      <li class="accordion__content-element">Рузиньол, Сантьяго</li>
      <li class="accordion__content-element">Саура, Антонио</li>
      <li class="accordion__content-element">Симоне, Энрике</li>
      <li class="accordion__content-element">Утрильо, Микел</li>
      <li class="accordion__content-element">Хименес Аранда, Хосе</li>
      <li class="accordion__content-element">Чильида, Эдуардо</li>
    </ul>
  </li>
</ul>