.about_us {
  margin-top: 630px;
  padding-bottom: 69px;
}

.about_us__title {
  margin-bottom: 17px;
}

.about_us__descr {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $--color-jet;
}