.editions {
  padding-bottom: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/editions/editions-bg.jpg');
  color: $--color-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.editions__container {
  display: flex;
  justify-content: space-between;
}

// BEGIN === Editions Left //
.editions__left {
  // display: inline-block;
  margin-right: 9%;
  width: 18%;
}
.editions__title {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: inherit;
}

.editions__label {
  margin-bottom: 10px;
  font-weight: 700;
}

.editions__label--price {
  display: block;
  margin-bottom: 8px;
}

.category__list {
  margin-bottom: 27px;
}

.category__check {
  appearance: none;
  &:checked + .category__label::before {
    border-color: $--color-accent;
    transition: border-color .1s linear;
  }
  &:checked + .category__label::after {
    background-color: $--color-accent;
    transition: background-color .1s linear;
  }
  &:focus-visible + .category__label {
    outline: 1px solid $--color-royal-purple;
    outline-offset: 3px;
  }
}

.category__label {
  position: relative;
  left: -5px;
  padding-left: 25px;
  transition: color .1s linear;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    width: 12px;
    height: 12px;
    border: 1px solid $--color-white;
    transform: translateY(-50%);
    transition: border-color .1s linear;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: transparent;
    transform: translateY(-50%);
    transition: background-color .15s linear;
  }
  &:hover {
    cursor: pointer;
    color: $--color-accent;
    transition: color .1s linear;
  }
  &:active {
    color: $--color-royal-purple;
    transition: color .1s linear;
    &::before {
      border-color: $--color-royal-purple;
    }
  }
}

.editions__price {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  span {
    padding: 5px 7px;
  }
}

.editions__input {
  padding: 5px 0px 5px 10px;
  background: rgba(157, 92, 208, 0.5);
  height: 38px;
  width: 73px;
  color: $--color-white;
}
// END === Editions Left //

// BEGIN === Editions Right //
.editions__right {
  padding: 63px 0 10px 10px;
  width: 72%;
}
.editins_img {
  display: block;
  margin-bottom: 26px;
  width: 350px;
  height: 390px;
}

.editions__descr-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 11px;
}

.editons__painting {
  font-weight: 700;
  line-height: 1;
}

.editions__cost {
  font-style: italic;
  line-height: 1;
}

.editions__link {
  padding: 6px 18px;
  font-size: 16px;
  color: $--color-white;
  &:hover {
    background-color: $--color-accent;
    color: $--color-white;
    transition: all .1s linear;
  }
  &:focus-visible {
    outline: 2px solid $--color-helio;
    outline-offset: 5px;
  }
  &:active {
    background-color: $--color-royal-purple;
    box-shadow: none;
  }
}

.editions-swiper {
  .swiper__nav {
    top: -7px;
    left: -10px;
  }
  .swiper-button-prev {
    margin-right: 30px;
  }
  .swiper-pagination {
    bottom: 22px;
    margin-right: 30px;
  }
}
// END === Editions Right