.hero {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  padding-top: 241px;
  width: 100%;
  height: 800px;
  color: $--color-white;
  @include laptop {
    padding-top: 213px;
    height: 768px;
  }
}

.hero-swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__container {
  position: relative;
  z-index: 1;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  margin-bottom: 20px;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  @include laptop {
    margin-bottom: 12px;
  }
}

.hero__descr {
  margin-bottom: 115px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  @include laptop {
    margin-bottom: 158px;
    max-width: 670px;  
  }
}

.hero__btn {
  padding: 22px 35px;
  border: none;
  background-color: $--color-accent;
  color: $--color-white;
  transition: box-shadow .1s linear;
  &:hover {
    box-shadow: 0 0 0 3px #d1a9f0;
    transition: box-shadow .1s linear background-color .1s linear;
  }
  &:focus-visible {
    outline: 2px solid #d1a9f0;
    outline-offset: 5px;
  }
  &:active {
    background-color: $--color-royal-purple;
    transition: background-color .1s linear;
  }
}