.hero {
  position: relative;
  top: 8px;
  padding: 0;
  color: $--color-white;
}

.hero__container {
  position: absolute;
  top: 232px;
  left: 135px;
  z-index: 1;
}

.title {
  margin-bottom: 20px;
  margin-left: -5px;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

.hero__descr {
  margin-bottom: 115px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  padding: 22px 35px;
  border: none;
  background-color: $--color-accent;
  color: $--color-white;
  transition: box-shadow .1s linear;
  &:hover {
    box-shadow: 0 0 0 3px #d1a9f0;
    transition: box-shadow .1s linear background-color .1s linear;
  }
  &:focus-visible {
    outline: 2px solid #d1a9f0;
    outline-offset: 5px;
  }
  &:active {
    background-color: $--color-royal-purple;
    transition: background-color .1s linear;
  }
}