.menu {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  background: rgba($color: #000, $alpha: .4);
}

.menu__container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  font-size: 18px;
  line-height: 1;
}

.menu__item {
  position: relative;
  padding: 26px 0;
}

.menu__link {
  position: relative;
  padding: 5px 0;
  padding-right: 13px;
  color: $--color-white;
  transition: color .1s linear;
  &::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    width: 7px;
    height: 7px;
    border: 1px solid $--color-white;
    border-top: transparent;
    border-left: transparent;
    display: inline-block;
    transform: rotate(45deg) translateY(-50%);
  }
  &:hover {
    color: $--color-accent;
    transition: color .1s linear;
    &::after {
      border-right: 1px solid $--color-accent;
      border-bottom: 1px solid $--color-accent;
      transition: border .1s linear;
    }
  }
  &:focus-visible {
    outline: 2px solid $--color-royal-purple;
    outline-offset: 5px;
  }
  &:active {
    color: $--color-royal-purple;
    &::after {
      border-top: 1px solid $--color-royal-purple;
      border-left: 1px solid $--color-royal-purple;
      border-bottom: transparent;
      border-right: transparent;
      top: 60%;
    }
  }
}

.menu-search {
  position: relative;
  display: flex;
  transition: all .1s linear;
  &:hover {
    cursor: pointer;
    .menu-search__input {
      border-bottom: 1px solid $--color-helio;
      transition: all .1s linear;
    }
    .menu-search__icon {
      fill: $--color-helio;
      transition: all .1s linear;
    }
  }
  &:focus-visible {
    outline: 2px solid $--color-royal-purple;
    outline-offset: 5px;
  }
}

.menu-search__btn {
  position: absolute;
  left: -31px;
  top: 8px;
  &:focus-visible {
    outline: 2px solid $--color-royal-purple;
    outline-offset: 5px;
  }
}

.menu-search__icon {
  width: 22px;
  height: 22px;
  fill: $--color-white;
}

.menu-search__input {
  padding: 5px 0;
  margin: 3px 5px 0 0;
  width: 218px;
  border-bottom: 1px solid $--color-white;
  color: $--color-white;
  &::placeholder {
    line-height: 1;
    font-size: 18px;
    color: rgba($color: #fff, $alpha: .85);
  }
  &:focus-visible {
    outline: none;
    caret-color: $--color-helio;
  }
  &:focus::placeholder {
    color: transparent;
  }
  &:active {
    outline: 0;
  }
}

// BEGIN ===== Dropdown ===== //
.menu-dropdown__list {
  position: absolute;
  top: 70px;
  display: none;
  padding: 40px;
  max-height: 300px;
  width: 300px;
  background: rgba($color: #000, $alpha: .6);
  .simplebar-track.simplebar-vertical {
    right: 20px;
    width: 2px;
    background-color: $--color-black;
  }
  .simplebar-scrollbar {
    background-color: $--color-accent;
  }
}

.menu-active {
  display: block;
}

.menu__link--active {
  color: $--color-royal-purple;
    &::after {
      border-top: 1px solid $--color-royal-purple;
      border-left: 1px solid $--color-royal-purple;
      border-bottom: transparent;
      border-right: transparent;
      top: 60%;
    }
    &:hover::after {
      border-top: 1px solid $--color-royal-purple;
      border-left: 1px solid $--color-royal-purple;
      border-bottom: transparent;
      border-right: transparent;
      top: 60%;
    }
}

.menu-dropdown__item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.menu-dropdown__link {
  display: inline-block;
  width: 220px;
  height: 40px; 
  color: $--color-white;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: color .1s linear;

  &::before {
    content: attr(data-menu-painter);
    padding: 13px 15px 13px 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:hover {
    box-shadow: 0 0 0 2px $--color-accent;
    transition: all .1s linear;
    
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 0 0 0 2px #d1a9f0;
    transition: all .1s linear;
    &::before {
      background-color: rgba(194, 131, 243, .4);
      transition: all .1s linear;
    }
  }
}
// END ===== Dropdown ===== //
