<section class="section catalog" id="catalog">
  <div class="container catalog__container">
    @include('./catalog/catalog_head.html')
    <div class="catalog__body">
      <!-- BEGIN ===== Карточки художников -->
      @include('./catalog/catalog_painter_cards.html')
      <!-- END ===== Карточки художников -->

      <!-- BEGIN ===== Список художников -->
      @include('./catalog/catalog_painters-fr.html')
      @include('./catalog/catalog_painters-gm.html')
      @include('./catalog/catalog_painters-it.html')
      @include('./catalog/catalog_painters-ru.html')
      @include('./catalog/catalog_painters-bg.html')
      <!-- END ===== Список художников -->
  </div>
</div>
</section>