<section class="section contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="section__title contacts__title">Контакты</h2>
    <div class="contacts__wrap flex">
      <div class="contacts__left">
        <address class="contacts__address">
          <p class="contacts__place">Шоурум №4</p>
          <span class="contacts__addr">Леонтьевский переулок, дом&nbsp;5, строение&nbsp;1</span>
        </address>
        <form class="contacts__feedback feedback" action="POST">
          <p class="feedback__title">Заказать обратный звонок</p>
          <input class="feedback__input feedback__input--name" id="feedback_name" type="text" placeholder="Имя*">
          <input class="feedback__input feedback__input--phone" id="feedback_phone" type="tel" name="phone" placeholder="Телефон*">
          <button class="btn feedback__btn">Заказать</button>
        </form>
        <div class="contacts__contact contact">
          <p class="contact__title">Связаться в&nbsp;один клик</p>
          <ul class="contact__list list-reset flex">
            <li class="contackt__item"><a href="#" class="contact__link contact__link--wh"></a></li>
            <li class="contackt__item"><a href="#" class="contact__link contact__link--tg"></a></li>
          </ul>
        </div>
      </div>
      <div class="contacts__map" id="contacts_map"></div>
    </div>
  </div>
</section>