<section class="section editions" id="editions">
  <div class="container editions__container">
    <div class="editions__left">
      <h2 class="section__title editions__title">Издания</h2>
      <span class="label editions__label">Категории</span>
      <ul class="editions__category category__list list-reset">
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_best">
          <label class="category__label" for="editions_check_best">Бестселлеры</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_art">
          <label class="category__label" for="editions_check_art">Искусство</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_archit">
          <label class="category__label" for="editions_check_archit">Архитектура</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_design">
          <label class="category__label" for="editions_check_design">Дизайн</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_fasion">
          <label class="category__label" for="editions_check_fasion">Мода</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_child">
          <label class="category__label" for="editions_check_child">Детям</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_im-lit">
          <label class="category__label" for="editions_check_im-lit">Художественная литература</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_public">
          <label class="category__label" for="editions_check_public">Публицистика</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_guide">
          <label class="category__label" for="editions_check_guide">Путеводители</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_philos">
          <label class="category__label" for="editions_check_philos">Философия</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_educat">
          <label class="category__label" for="editions_check_educat">Учебная литература</label>
        </li>
        <li class="category__item">
          <input type="checkbox" class="category__check" id="editions_check_news">
          <label class="category__label" for="editions_check_news">Журналы и газеты</label>
        </li>
      </ul>
      <span class="label editions__label editions__label--price">Цена</span>
      <div class="editions__price">
        <span>От</span>
        <input class="editions__input" type="number">
        <span>до</span>
        <input class="editions__input" type="number">
        <span>руб.</span>
      </div>
    </div>
    <div class="editions__right swiper editions-swiper" id="editions_swiper">
      <div class="swiper__nav">
        <div class="swiper-button swiper-button-prev" tabindex="1"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button swiper-button-next" tabindex="1"></div>
      </div>
      <div class="editions__cards list-reset swiper-wrapper">
        <div class="editions__card swiper-slide">
          <img src="images/editions/img-1.jpg" alt="Искусство цвета" class="editins_img">
          <div class="editions__descr-wrap">
            <div class="editions__descr">
              <p class="editons__painting">Искусство цвета</p>
              <span class="editions__author">Иттен, Иоханнес</span>
            </div>
            <span class="editions__cost">620 руб</span>
          </div>
          <a href="#" class="btn editions__link">Заказать</a>
        </div>

        <div class="editions__card swiper-slide">
          <img src="images/editions/img-2.jpg" alt="Типографика" class="editins_img">
          <div class="editions__descr-wrap">
            <div class="editions__descr">
              <p class="editons__painting">Типографика</p>
              <span class="editions__author">Рудер, Эмиль</span>
            </div>
            <span class="editions__cost">2 450 руб</span>
          </div>
          <a href="#" class="btn editions__link">Заказать</a>
        </div>

        <div class="editions__card swiper-slide">
          <img src="images/editions/img-3.jpg" alt="Книга про буквы" class="editins_img">
          <div class="editions__descr-wrap">
            <div class="editions__descr">
              <p class="editons__painting">Книга про буквы</p>
              <span class="editions__author">Гордон, Юрий</span>
            </div>
            <span class="editions__cost">2 200 руб</span>
          </div>
          <a href="#" class="btn editions__link">Заказать</a>
        </div>

        <div class="editions__card swiper-slide">
          <img src="images/editions/img-4.jpg" alt="Николай Ильин" class="editins_img">
          <div class="editions__descr-wrap">
            <div class="editions__descr">
              <p class="editons__painting">Николай Ильин</p>
              <span class="editions__author">Кричевский, Владимир </span>
            </div>
            <span class="editions__cost">1 100 руб</span>
          </div>
          <a href="#" class="btn editions__link">Заказать</a>
        </div>

        <div class="editions__card swiper-slide">
          <img src="images/editions/img-5.jpg" alt="Модульные сетки в граф..." class="editins_img">
          <div class="editions__descr-wrap">
            <div class="editions__descr">
              <p class="editons__painting">Модульные сетки в граф...</p>
              <span class="editions__author">Мюллер-Брокманн, Йозеф</span>
            </div>
            <span class="editions__cost">1 450 руб</span>
          </div>
          <a href="#" class="btn editions__link">Заказать</a>
        </div>

        <div class="editions__card swiper-slide">
          <img src="images/editions/img-6.jpg" alt="Эволюция графических ст..." class="editins_img">
          <div class="editions__descr-wrap">
            <div class="editions__descr">
              <p class="editons__painting">Эволюция графических ст...</p>
              <span class="editions__author">Хеллер, Чваст</span>
            </div>
            <span class="editions__cost">3 200 руб</span>
          </div>
          <a href="#" class="btn editions__link">Заказать</a>
        </div>

        <div class="editions__card swiper-slide">
          <img src="images/editions/img-7.jpg" alt="Искусство и визуальное в..." class="editins_img">
          <div class="editions__descr-wrap">
            <div class="editions__descr">
              <p class="editons__painting">Искусство и визуальное в...</p>
              <span class="editions__author">Арнхейм, Рудольф</span>
            </div>
            <span class="editions__cost">2 200 руб</span>
          </div>
          <a href="#" class="btn editions__link">Заказать</a>
        </div>
      </div>
    </div>
  </div>
</section>