<section class="section events" id="events">
  <div class="container events__container">
    <h2 class="section__title events__title">События</h2>
    <ul class="events__list list-reset">
      <li class="events__item">
        <div class="events__card">
          <img src="images/events/img-1.jpg" alt="Картина Кватроченто" class="events__img">
          <div class="events__card-down">
            <span class="events__capt events__place">Музей им. Щусева</span>
            <span class="events__capt event__period">с&nbsp;20&nbsp;марта по&nbsp;30&nbsp;апреля</span>
            <h3 class="events__subtitle">Книжная гравюра в&nbsp;живом восприятии</h3>
            <p class="events__descr">Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель
              художественной династии, которую продолжили его брат Давид и сын Ридольфо.</p>
            <a href="#" class="events__link">Подробнее</a>
          </div>
        </div>
      </li>  

      <li class="events__item">
        <div class="events__card">
          <img src="images/events/img-2.jpg" alt="Мозаика" class="events__img">
          <div class="events__card-down">
            <span class="events__capt events__place">ММОМА</span>
            <span class="events__capt event__period">24&nbsp;марта 19:00</span>
            <h3 class="events__subtitle">&laquo;Открытая дискуссия&raquo;. Дмитрий Петров и&nbsp;Сергей Ильин.</h3>
            <p class="events__descr">Высокий уровень вовлечения представителей целевой аудитории является четким
              доказательством простого факта.</p>
            <a href="#" class="events__link">Подробнее</a>
          </div>
        </div>
      </li>

      <li class="events__item">
        <div class="events__card">
          <img src="images/events/img-3.jpg" alt="Еврейский музей" class="events__img">
          <div class="events__card-down">
            <span class="events__capt events__place">Еврейский музей</span>
            <span class="events__capt event__period">с&nbsp;31&nbsp;марта по&nbsp;21&nbsp;апреля</span>
            <h3 class="events__subtitle">Выставка &laquo;Формация 2020&raquo;</h3>
            <p class="events__descr">Идейные соображения высшего порядка, а&nbsp;также современная методология
              разработки играет важную роль в&nbsp;формировании глубокомысленных рассуждений.</p>
            <a href="#" class="events__link">Подробнее</a>
          </div>
        </div>
      </li>

      <li class="events__item is-hidden">
        <div class="events__card">
          <img src="images/events/img-4.jpg" alt="Цветная картина" class="events__img">
          <div class="events__card-down">
            <span class="events__capt events__place">Третьяковка на&nbsp;Крымском валу</span>
            <span class="events__capt event__period">с&nbsp;30&nbsp;марта по&nbsp;30&nbsp;апреля</span>
            <h3 class="events__subtitle">XXIV Международная биеннале молодого искусства</h3>
            <p class="events__descr">Внезапно, реплицированные с&nbsp;зарубежных источников, современные исследования.
            </p>
            <a href="#" class="events__link">Подробнее</a>
          </div>
        </div>
      </li>

      <li class="events__item is-hidden">
        <div class="events__card">
          <img src="images/events/img-5.jpg" alt="Джон Винзор" class="events__img">
          <div class="events__card-down">
            <span class="events__capt events__place">ММАМ</span>
            <span class="events__capt event__period">с&nbsp;8&nbsp;апреля по&nbsp;20&nbsp;мая</span>
            <h3 class="events__subtitle">Джон Винзор. Фотографии из&nbsp;серии &laquo;Метафора серебра&raquo;</h3>
            <p class="events__descr">Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель
              художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо.</p>
            <a href="#" class="events__link">Подробнее</a>
          </div>
        </div>
      </li>

      <li class="events__item is-hidden invisible">
        <div class="events__card">
          <img src="images/events/img-5.jpg" alt="Джон Винзор" class="events__img">
          <div class="events__card-down">
            <span class="events__capt events__place">ММАМ</span>
            <span class="events__capt event__period">с&nbsp;8&nbsp;апреля по&nbsp;20&nbsp;мая</span>
            <h3 class="events__subtitle">Джон Винзор. Фотографии из&nbsp;серии &laquo;Метафора серебра&raquo;</h3>
            <p class="events__descr">Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель
              художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо.</p>
            <a href="#" class="events__link">Подробнее</a>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn-reset btn events__btn" id="events_btn">Все события</button>
  </div>
</section>