<section class="section gallery" id="gallery">
  <div class="container gallery__container">
    <div class="gallery__left">
      <div class="gallery__wrap">
        <h2 class="section__title gallery__title">Галерея</h2>
        <label for="gallery_select" class="label gallery__label">Фильтр:</label>
        <select class="select" name="gallery-sort" id="gallery_select">
          <option value="painting">Живопись</option>
          <option value="picture">Рисунок</option>
          <option value="sculpture">Скульптура</option>
        </select>
      </div>
      <ul class="gallery__check gallery-check__list list-reset">
        <li class="gallery-check__item">
          <input type="checkbox" class="site__check" id="editions_check_XIX">
          <label class="site__label" for="editions_check_XIX">XIX век</label>
        </li>
        <li class="gallery-check__item">
          <input type="checkbox" class="site__check" id="editions_check_XX">
          <label class="site__label" for="editions_check_XX">XX век</label>
        </li>
        <li class="gallery-check__item">
          <input type="checkbox" class="site__check" id="editions_check_modern">
          <label class="site__label" for="editions_check_modern">Современность</label>
        </li>
      </ul>
    </div>
    <div class="gallery__right swiper gallery-swiper" id="gallery_swiper">
      <div class="swiper__nav swiper__nav--gallery">
        <div class="swiper-button swiper-button-prev swiper-button-prev--galery" tabindex="1"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button swiper-button-next swiper-button-next--galery" tabindex="1"></div>
      </div>
      <div class="gallery__pictures swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/gallery/pict-1.jpg" alt="Картина" class="gallery__pict">
        </div>
        <div class="swiper-slide">
          <img src="images/gallery/pict-2.jpg" alt="Картина" class="gallery__pict">
        </div>
        <div class="swiper-slide">
          <img src="images/gallery/pict-3.jpg" alt="Картина" class="gallery__pict">
        </div>
        <div class="swiper-slide">
          <img src="images/gallery/pict-4.jpg" alt="Картина" class="gallery__pict">
        </div>
        <div class="swiper-slide">
          <img src="images/gallery/pict-5.jpg" alt="Картина" class="gallery__pict">
        </div>
        <div class="swiper-slide">
          <img src="images/gallery/pict-6.jpg" alt="Картина" class="gallery__pict">
        </div>
      </div>
    </div>
  </div>
</section>