<header class="header">
  <div class="container header__container flex">
    <a href="#" class="header__link">
      <svg class="logo header__logo">
      <use xlink:href="images/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#about_us" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#gallery" class="nav__link">Галерея</a>
        </li>
        <li class="nav__item">
          <a href="#catalog" class="nav__link">Каталог</a>
        </li>
        <li class="nav__item">
          <a href="#events" class="nav__link">События</a>
        </li>
        <li class="nav__item">
          <a href="#editions" class="nav__link">Издания</a>
        </li>
        <li class="nav__item">
          <a href="#projects" class="nav__link">Проекты</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="header__login">
      <svg class="header__icon">
      <use xlink:href="images/sprite.svg#login"></use>
      </svg>
      Войти
    </a>
  </div>
</header>