<section class="section hero">
  <div class="swiper hero-swiper" id="hero_swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./images/bg_1920.jpg" alt="" class="hero__background">
      </div>
      <div class="swiper-slide">
        <img src="./images/bg_1920_2.jpg" alt="" class="hero__background">
      </div>
      <div class="swiper-slide">
        <img src="./images/bg_1920_3.jpg" alt="" class="hero__background">
      </div>
    </div>
  </div>
  <div class="container hero__container">
    <h1 class="title hero__title">Прикоснитесь к&nbsp;прекрасному</h1>
    <p class="hero__descr">
      Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что реализация
      намеченных плановых заданий создаёт предпосылки для новых предложений.
    </p>
    <a href="#contacts" class="btn hero__btn">Подписаться на&nbsp;рассылку</a>
  </div>
</section>