<div class="menu">
  <div class="container menu__container flex">
    <ul class="menu__list list-reset" id="menu_list">
      <li class="menu__item">
        <a href="#" class="menu__link" data-path="one">Реализм</a>
        <ul class="menu__dropdown menu-dropdown__list scroller list-reset" data-target="one">
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Тинторетто" style="background-image: url('images/menu/tintoretto.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Фридрих" style="background-image: url('images/menu/fridrikh.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Леонардо" style="background-image: url('images/menu/leo.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Верроккьо" style="background-image: url('images/menu/vierrok.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Тинторетто" style="background-image: url('images/menu/tintoretto.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Фридрих" style="background-image: url('images/menu/fridrikh.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Леонардо" style="background-image: url('images/menu/leo.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Верроккьо" style="background-image: url('images/menu/vierrok.jpg');"></a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link" data-path="two">Импрессионизм</a>
        <ul class="menu__dropdown menu-dropdown__list scroller list-reset" data-target="two">
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Моне" style="background-image: url('images/menu/mone.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Сислей" style="background-image: url('images/menu/sisley.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Мане" style="background-image: url('images/menu/mane.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Ренуар" style="background-image: url('images/menu/renouar.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Моне" style="background-image: url('images/menu/mone.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Сислей" style="background-image: url('images/menu/sisley.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Мане" style="background-image: url('images/menu/mane.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Ренуар" style="background-image: url('images/menu/renouar.jpg');"></a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link" data-path="three">Постимпрессионизм</a>
        <ul class="menu__dropdown menu-dropdown__list scroller list-reset" data-target="three">
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Ван Гог" style="background-image: url('images/menu/vangog.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Сезанн" style="background-image: url('images/menu/sezan.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Гоген" style="background-image: url('images/menu/gogen.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Сёра" style="background-image: url('images/menu/sera.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Ван Гог" style="background-image: url('images/menu/vangog.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Сезанн" style="background-image: url('images/menu/sezan.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Гоген" style="background-image: url('images/menu/gogen.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Сёра" style="background-image: url('images/menu/sera.jpg');"></a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link" data-path="four">Авангард</a>
        <ul class="menu__dropdown menu-dropdown__list scroller list-reset" data-target="four">
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Кандинский" style="background-image: url('images/menu/kandi.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Маринетти" style="background-image: url('images/menu/marine.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Малевич" style="background-image: url('images/menu/malev.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Пикассо" style="background-image: url('images/menu/pacas.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Кандинский" style="background-image: url('images/menu/kandi.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Маринетти" style="background-image: url('images/menu/marine.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Малевич" style="background-image: url('images/menu/malev.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Пикассо" style="background-image: url('images/menu/pacas.jpg');"></a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link" data-path="five">Футуризм</a>
        <ul class="menu__dropdown menu-dropdown__list scroller list-reset" data-target="five">
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Карра" style="background-image: url('images/menu/kappa.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Прателла" style="background-image: url('images/menu/pratel.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Северини" style="background-image: url('images/menu/sever.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Балла" style="background-image: url('images/menu/balla.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Карра" style="background-image: url('images/menu/kappa.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Прателла" style="background-image: url('images/menu/pratel.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Северини" style="background-image: url('images/menu/sever.jpg');"></a>
          </li>
          <li class="menu-dropdown__item">
            <a href="#" class="menu-dropdown__link" data-menu-painter="Балла" style="background-image: url('images/menu/balla.jpg');"></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="menu__search-wrap menu-search" tabindex="0">
      <button class="btn-reset menu-search__btn">
        <svg class="menu-search__icon" id="menu_search_icon">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
      </button>
      <input class="menu-search__input" id="menu_search_input" type="search" name="site-search" placeholder="Поиск по сайту" />
    </div>
  </div>
</div>