<section class="section projects" id="projects">
  <div class="container projects__container">
    <h2 class="section__title projects__title">Проекты</h2>
    <p class="projects__descr">
      Предварительные выводы: постоянное информационно-пропагандистское обеспечение нашей
      деятельности однозначно фиксирует необходимость своевременного выполнения сверхзадачи. А&nbsp;ещё независимые
      государства смешаны с&nbsp;не&nbsp;уникальными данными до степени совершенной неузнаваемости, из-за чего
      возрастает их&nbsp;статус бесполезности. Прежде всего, постоянное информационно&nbsp;-&nbsp;пропагандистское <span tabindex="0" data-tippy-content="Пример современных тенденций&nbsp;&mdash; современная методология разработки"></span> обеспечение
      нашей деятельности однозначно фиксирует необходимость экономической целесообразности принимаемых решений.
      И&nbsp;нет сомнений, что действия представителей оппозиции могут быть рассмотрены <span tabindex="0" data-tippy-content="Приятно, граждане, наблюдать, как сделанные на&nbsp;базе аналитики выводы вызывают у&nbsp;вас эмоции"></span> исключительно в&nbsp;разрезе
      маркетинговых и&nbsp;финансовых <span aria-expanded="true" tabindex="0" data-tippy-content="В&nbsp;стремлении повысить качество"></span> предпосылок. Банальные, но&nbsp;неопровержимые выводы, а&nbsp;также
      представители современных социальных резервов призывают нас к&nbsp;новым свершениям, которые, в&nbsp;свою
      очередь, должны быть смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени совершенной неузнаваемости.
      Подробнее:<a href="#" target="_blank">blanchard-art.ru/projects/about</a>
    </p>
    <p class="projects__subtitle">Партнёры проектов:</p>
    <div class="project__swiper-wrap">
      <div class="swiper-button swiper-button-prev swiper-button-prev--projects"></div>
      <div class="swiper-button swiper-button-next swiper-button-next--projects"></div>  
      <div class="project__swiper swiper" id="project_swiper">
        <ul class="projects__list list-reset swiper-wrapper">
          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/ff.png" alt="Freelands Logo">
              </a>
            </div>
          </li>

          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/ifca.png" alt="Institute for Contemporary Art Logo">
              </a>
            </div>
          </li>

          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/workhouse.png" alt="Wrokhouse Logo">
              </a>
            </div>
          </li>

          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/1849.png" alt="1849 Logo">
              </a>
            </div>
          </li>
          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/hiscox.png" alt="Hiscox Logo">
              </a>
            </div>
          </li>
          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/camden.png" alt="Camden Logo">
              </a>
            </div>
          </li>
          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/stassen.png" alt="Stassen Logo">
              </a>
            </div>
          </li>
          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/watts.png" alt="Watts Gallery Logo">
              </a>
            </div>
          </li>
          <li class="projects__item swiper-slide">
            <div class="projects__card">
              <a href="#!" class="projects__link">
                <img class="projects__img" src="images/projects/esad.png" alt="ESAD Logo">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>